HOST=0.0.0.0
PORT=12016
PUBLIC_URL=http://192.168.101.25:12016
SERVER_URL=http://192.168.101.25:12016
FRONTEND_URL=http://192.168.101.25:13010
CORS_EXTRA_ORIGINS=http://localhost:13010,http://127.0.0.1:13010

APP_KEYS=replace-me-1,replace-me-2
API_TOKEN_SALT=replace-me
ADMIN_JWT_SECRET=replace-me
TRANSFER_TOKEN_SALT=replace-me
JWT_SECRET=replace-me

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=nnmc_bpm
DATABASE_USERNAME=strapi_bpm
DATABASE_PASSWORD=change-me
DATABASE_SCHEMA=public
DATABASE_SSL=false

KEYCLOAK_ENABLED=true
KEYCLOAK_URL=http://192.168.101.25:12012
KEYCLOAK_REALM=nnmc
KEYCLOAK_CLIENT_ID=web
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=

ONEC_API_URL=http://192.168.40.83/copy10062025-rest/hs/nnmc
ONEC_API_USER=Администратор
ONEC_API_PASSWORD=
ONEC_API_TIMEOUT_MS=120000
ONEC_EMPLOYEE_PAGE_SIZE=200
# HTTP-сервис InComingRequest из расширения 1С.
ONEC_BPM_REQUEST_URL=http://192.168.40.83/copy10062025-rest/hs/InComingRequest/Request
ONEC_REFERENCE_REQUEST_URL=http://192.168.40.83/copy10062025-rest/hs/InComingRequest/RequestInfo
ONEC_VACATION_BALANCE_URL=http://192.168.40.83/copy10062025-rest/hs/InComingRequest/Request

EMPLOYEE_SYNC_ENABLED=true
EMPLOYEE_SYNC_HOUR_UTC=2
EMPLOYEE_SYNC_DEACTIVATE_MISSING=false
EMPLOYEE_SYNC_KEYCLOAK_ENABLED=true
EMPLOYEE_KEYCLOAK_EMAIL_DOMAIN=employees.nnmc.kz
BPM_SUPERADMIN_USERNAMES=
